<h3>Cadastro de produto</h3>

<div class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a [routerLink]="['/products']">voltar</a></li>
    </ul>
  </div>
</div>
<form action="" class="form-horizontal" autocomplete="off" (submit)="save()">
  <div class="form-group"><label for="title" class="form-label col-md-2">Título</label>
    <div class="col-md-10"><input name="title" [(ngModel)]="product.title" type="text" class="form-control"></div>
  </div>
  <div class="form-group"><label for="price" class="form-label col-md-2">Preço</label>
    <div class="col-md-10"><input name="price" [(ngModel)]="product.price" type="text" class="form-control"></div>
  </div>
  <div class="form-group"><label for="cost" class="form-label col-md-2">Custo</label>
    <div class="col-md-10"><input name="cost" [(ngModel)]="product.cost" type="text" class="form-control"></div>
  </div>
  <div class="form-group"><label for="description" class="form-label col-md-2">Descrição</label>
    <div class="col-md-10"><textarea name="description" [(ngModel)]="product.description" rows="10" class="form-control"></textarea></div>
  </div>
  <div class="form-group"><label for="alert_quantity" class="form-label col-md-2">Alerta de quantitade</label>
    <div class="col-md-10"><input name="alert_quantity" [(ngModel)]="product.alert_quantity" type="text" class="form-control"></div>
  </div>
  <div class="form-group">
    <div class="col-md-10 col-md-push-2"><input type="submit" class="btn btn-primary"></div>
  </div>
</form>
